<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="get" action="/">
      <p>Enther your phrase:</p>
      <textarea name="user_text"></textarea>
      <br/>
      <button ></button>
    </form>
    
  </body>
</html>